node_modules
dist
.DS_Store
.env
.env.local
.vercel
*.log
.turbo
apps/*/dist
apps/app/prisma/dev.db
apps/app/prisma/dev.db-journal
apps/app/src/server/generated
apps/app/api-dist
apps/admin/prisma/dev.db
apps/admin/prisma/dev.db-journal
apps/admin/src/server/generated
apps/admin/api-dist
.next/
.env.prod
.env.local
.env*.local
tsconfig.tsbuildinfo
